<%= form_with(model: jogging_time) do |form| %>
  <% if jogging_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jogging_time.errors.count, "error") %> prohibited this jogging_time from being saved:</h2>

      <ul>
        <% jogging_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :distanse, style: "display: block" %>
    <%= form.text_field :distanse %>
  </div>

  <div>
    <%= form.label :time, "Time in Hours", style: "display: block" %>
    <%= form.text_field :time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
